@use "../abstracts/" as *;

.hero {
  @include layout-constrain;
  padding-top: 14rem;
  padding-bottom: 9rem;
  text-align: center;

  @media (max-width: $bp-4) {
    text-align: center;
  }

  &__heading {
    font-weight: var(--fw-bold);
    font-size: var(--fs-1);
    display: inline-block;
    margin-bottom: 1rem;
  }

  &__position {
    color: var(--color-text-light);
    font-weight: var(--fw-bold);
    font-size: var(--fs-6);
    letter-spacing: 0.2rem;
    text-transform: uppercase;

    @media (max-width: $bp-3) {
      letter-spacing: 0.1rem;
    }
  }

  &__pronunciation {
    font-size: var(--fs-6);
    color: var(--color-text-light);
    display: block;
    text-align: right;
    margin-top: -1rem;

    @media (max-width: $bp-4) {
      font-size: 12px;
      margin-top: -0.5rem;
    }

    @media (max-width: $bp-5) {
      font-size: 10px;
    }
  }

  &__sub {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    font-size: var(--fs-5);
    font-weight: var(--fw-bold);
    color: var(--color-text-light);
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &__link {
    text-decoration: none;
    padding: 1rem 4.5rem;
    font-size: var(--fs-5);
    border-radius: 0.5rem;
    transition: all 0.2s;

    @media (max-width: $bp-4) {
      padding: 1rem 0rem;
      flex: 1;
    }

    &--work {
      color: var(--color-text-lightest);
      background-color: var(--color-primary);
      font-weight: var(--fw-bold);

      &:hover {
        opacity: 0.75;
      }
    }

    &--contact {
      color: var(--color-primary);
      border: 1px solid var(--color-primary);

      &:hover {
        background-color: var(--color-text-light);
        border: 1px solid var(--color-text-light);
        color: var(--color-text-lightest);
      }
    }
  }
}
