.theme-toggle {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__button {
    height: 2rem;
    width: 4rem;
    border-radius: 1rem;
    background-color: var(--color-text-light);
    border: none;
    cursor: pointer;
    padding: 0.25rem 0.25rem;
    position: relative;
    transition: all 0.2s;

    &::after {
      transition: all 0.2s;
      display: block;
      content: "";
      height: 100%;
      aspect-ratio: 1 / 1;
      background-color: var(--color-text-lightest);
      border-radius: 100%;
      position: relative;
      left: 0;
    }
  }

  &__sun {
    transition: all 0.2s;
  }
  &__moon {
    filter: grayscale(1);
    opacity: 0.5;
    transition: all 0.2s;
  }

  &--enabled &__sun {
    filter: grayscale(1);
    opacity: 0.5;
    transition: all 0.2s;
  }

  &--enabled &__moon {
    filter: none;
    opacity: 1;
  }

  &--enabled &__button {
    background-color: var(--color-primary);
  }

  &--enabled &__button::after {
    left: 2rem;
  }
}
